@import "tailwindcss";

@import "./variables.css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-figtree);
  --font-mono: var(--font-alexandria);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-figtree), sans-serif;
}

.save-paddings {
  padding: 20px var(--margin);
}

.container-lg {
  max-width: 720px;
  min-height: 100dvh;
}
