@import "tailwindcss";

@import "./variables.css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-figtree);
  --font-mono: var(--font-alexandria);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-figtree), sans-serif;
  max-width: 1728px;
  margin: 0 auto;
}

.save-paddings {
  padding: 20px var(--margin);
}

.container-lg {
  width: 100%;
  flex: 1;
}

@media (max-width: 1000px) {
  body {
    max-width: none;
  }
  .container-lg {
    max-width: 1024px;
  }
}
