:root {
    --background: #ffffff;
    --foreground: #000000;
    --color-blue: #3A9DC2;
    --margin: 60px;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }